html body{
	margin:0;
	font-family: 'Raleway', sans-serif;
}
nav{
	height:50px;
	background-color:black;
}
#logo{
	color:white;
	margin:0 0 0 10px;
	padding:16px;
	font-weight:lighter;
	font-size:16px;
	letter-spacing: 1px;
}
h1{
	font-size:50px;
	font-weight:lighter;
	letter-spacing: 3px;
	word-spacing: 10px;
}
a{
	color:black;
	text-decoration: none;
}
